.room-title {
  display: flex;

  align-items: center;

  margin: 2rem 0 1.5rem;

  h1 {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: var(--black-text);
  }

  span {
    margin-left: 1rem;

    padding: 0.5rem 1rem;

    font-size: 0.875rem;
    font-weight: 500;
    color: var(--white);

    background: var(--purple);

    border-radius: 9999px;
  }
}
