#page-auth {
  display: flex;

  height: 100vh;

  align-items: stretch;

  aside {
    flex: 7;
    flex-direction: column;
    display: flex;

    justify-content: center;

    padding: 7.5rem 5rem;

    background: #835afd;
    color: #fff;

    img {
      max-width: 20rem;
    }

    strong {
      margin-top: 1rem;

      font:
        700 2.25rem 'Poppins',
        sans-serif;
      line-height: 2.625rem;
    }

    p {
      margin-top: 1rem;

      font-size: 1.5rem;
      line-height: 2rem;

      color: #f8f8f8;
    }
  }

  main {
    flex: 8;
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 0 2rem;
  }

  .main-content {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 20rem;

    align-items: stretch;

    text-align: center;

    > img {
      align-self: center;
    }

    form {
      input {
        height: 3.125rem;

        padding: 0 1rem;

        background: #fff;

        border: 1px solid #a8a8b3;
        border-radius: 8px;
      }

      button {
        margin-top: 1rem;
      }

      button,
      input {
        width: 100%;
      }
    }
  }

  .create-room {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 3.125rem;

    margin-top: 4rem;

    font-weight: 500;

    background: #ea4335;
    color: #fff;

    cursor: pointer;
    border-radius: 8px;
    border: 0;

    transition: filter 0.2s;

    img {
      margin-right: 0.5rem;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .separator {
    display: flex;

    align-items: center;

    margin: 2rem 0;

    font-size: 0.875rem;
    color: #a8a8b3;

    &::before {
      content: '';

      flex: 1;

      height: 1px;

      margin-right: 1rem;

      background: #a8a8b3;
    }

    &::after {
      content: '';

      flex: 1;

      height: 1px;

      margin-left: 1rem;

      background: #a8a8b3;
    }
  }
}
