.banner {
  flex: 7;
  flex-direction: column;
  display: flex;

  justify-content: center;

  padding: 7.5rem 5rem;

  background: var(--blue);
  color: var(--white);

  img {
    max-width: 20rem;
  }

  strong {
    margin-top: 1rem;

    font:
      700 2.25rem 'Poppins',
      sans-serif;
    line-height: 2.625rem;
  }

  p {
    margin-top: 1rem;

    font-size: 1.5rem;
    line-height: 2rem;

    color: var(--white-background);
  }
}
