.button {
  display: flex;

  justify-content: center;
  align-items: center;

  height: 3.125rem;

  padding: 0 2rem;

  font-weight: 500;

  background: var(--blue);
  color: var(--white);

  cursor: pointer;
  border-radius: 8px;
  border: 0;

  transition: filter 0.2s;

  img {
    margin-right: 0.5rem;
  }

  &.outlined {
    background: var(--white);
    border: 1px solid var(--blue);
    color: var(--blue);
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;

    cursor: not-allowed;
  }
}
