* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --white-details: #fefefe;
  --white-background: #f8f8f8;
  --medium-white: #f4f0ff;
  --dark-white: #e2e2e2;

  --dark-gray: #737388;
  --soft-dark-gray: #737380;
  --medium-gray: #dbdcdd;
  --gray: #a8a8b3;

  --red: #ea4335;
  --light-red: #e73d5d;

  --blue: #835afd;

  --purple: #e559f9;

  --black-text: #29292e;
  --black-shadow: rgba(0, 0, 0, 0.04);
  --black-overlay: rgba(0, 0, 0, 0.7);
}

body {
  background: var(--white-background);
  color: var(--black-text);
}

body,
input,
button,
textarea {
  font:
    400 1rem 'Roboto',
    sans-serif;
}

.toast {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: var(--black-text);

  background-color: var(--white-background);

  border-radius: 8px;
}
