* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  color: #29292e;
}

body,
input,
button,
textarea {
  font:
    400 1rem 'Roboto',
    sans-serif;
}

.toast {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #29292e;

  background-color: #f8f8f8;

  border-radius: 8px;
}
