.question {
  padding: 1.5rem;

  background: var(--white-details);
  border-radius: 8px;
  box-shadow: 0 0.125rem 0.75rem var(--black-shadow);

  & + .question {
    margin-top: 0.5rem;
  }

  &.highlighted {
    background: var(--medium-white);
    border: 1px solid var(--blue);

    footer .user-info span {
      color: var(--black-text);
    }
  }

  &.answered {
    background: var(--medium-gray);
  }

  p {
    color: var(--black-text);
  }

  footer {
    display: flex;

    justify-content: space-between;
    align-items: center;

    margin-top: 1.5rem;

    > div {
      display: flex;

      gap: 1rem;
    }

    button {
      border: 0;
      background: transparent;

      transition: filter 0.2s;

      cursor: pointer;

      &.like-button {
        display: flex;

        align-items: flex-end;

        gap: 0.5rem;

        color: var(--soft-dark-gray);

        &.liked {
          color: var(--blue);

          svg path {
            stroke: var(--blue);
          }
        }
      }

      &:hover {
        filter: brightness(0.7);
      }
    }
  }
}
