#page-room {
  main {
    max-width: 50rem;

    margin: 0 auto;

    padding-bottom: 1.5rem;

    form {
      textarea {
        width: 100%;
        min-height: 8.125rem;

        padding: 1rem;

        resize: vertical;
        background: var(--white-details);

        box-shadow: 0 0.125rem 0.75rem var(--black-shadow);
        border: 0;
        border-radius: 8px;

        &:focus {
          outline: var(--purple) solid 0.125rem;
        }
      }

      .form-footer {
        display: flex;

        justify-content: space-between;
        align-items: center;

        margin-top: 1rem;

        > span {
          font-size: 0.875rem;
          font-weight: 500;
          color: var(--dark-gray);

          button {
            font-size: 0.875rem;
            font-weight: 500;
            text-decoration: underline;
            color: var(--blue);

            cursor: pointer;

            background: transparent;

            border: 0;
          }
        }
      }
    }

    .question-list {
      margin-top: 2rem;

      .no-questions {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        margin-top: 6rem;

        gap: 1.5rem;

        img {
          width: 8rem;
          height: 8rem;
        }

        p {
          font-size: 1rem;
          font-weight: 500;
          color: var(--dark-gray);
        }
      }
    }
  }
}
