.room-code {
  display: flex;
  overflow: hidden;

  height: 2.5rem;

  cursor: pointer;

  background: var(--white);

  border-radius: 8px;
  border: 1px solid var(--blue);

  div {
    display: flex;

    height: 100%;

    padding: 0 0.75rem;

    justify-content: center;
    align-items: center;

    background: var(--blue);
  }

  span {
    display: block;
    flex: 1;

    width: 15rem;

    align-self: center;

    padding: 0 1rem 0 0.75rem;

    font-size: 0.875rem;
    font-weight: 500;
  }
}
