.user-info {
  display: flex;

  align-items: center;

  img {
    width: 2rem;
    height: 2rem;

    border-radius: 50%;
  }

  span {
    margin-left: 0.5rem;

    font-size: 0.875rem;
    color: var(--soft-dark-gray);

    &.strong {
      font-weight: 500;
      color: var(--black-text);
    }
  }
}
