.overlay {
  position: fixed;

  height: 100%;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: var(--black-overlay);
}

.modal {
  display: flex;

  height: 100%;

  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;

    max-width: 36.875rem;
    max-height: 22.625rem;

    justify-content: center;
    align-items: center;

    margin: 0 1rem;

    padding: 3rem;

    background: var(--white-background);

    border-radius: 8px;

    img {
      width: 3rem;
      height: 3rem;
    }

    p {
      margin: 1.5rem 0 1rem;

      font-size: 1.5rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      line-height: 2.125rem;
      color: var(--black-text);

      @media (max-width: 390px) {
        font-size: 150%;
      }
    }

    span {
      font-size: 1rem;
      line-height: 1.625rem;
      text-align: center;
      color: var(--soft-dark-gray);
    }

    div {
      display: flex;

      align-items: center;

      margin-top: 2rem;

      gap: 0.5rem;
    }

    @media (max-width: 390px) {
      width: 18rem;
      height: 18rem;

      padding: 1.5rem;
    }
  }
}
