.input-text {
  height: 3.125rem;

  padding: 0 1rem;

  background: var(--white);

  border: 1px solid var(--gray);
  border-radius: 8px;

  &:focus {
    outline: var(--purple) solid 0.125rem;
  }
}
